* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(images/shawn-sim-9lfubBqLbRc-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.drumLine{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
    top: 45%;
}

.drumBlock {
    border: 5px solid black;
    text-align: center;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(212, 136, 21, 0.5);
    color: black;
}

.highlight {
    border: 6px solid rgb(179, 179, 16);
    transform: scale(1.2);
    transition: transform 0.09s;
}

.letter {
    font-size: 1.5em;
    font-weight: bold;
}